{% extends "page.html" %}

{% block content %}

<h3>Search Examples</h3>

<ul>
<li><i>zork</i>: Simple keyword search.
<li><i>zork mit</i>: Files with all of the given terms.
<li><i>zork</i> <b>OR</b> <i>mit</i>: Files with <em>any</em> of the given terms. (The <b>OR</b> must be capitalized.)
<li><i>zork</i> <b>NOT</b> <i>mit</i>: Files with one term but excluding another.
<li><b>date:</b><i>2015</i>: Files uploaded in the given year. (No space after the colon.)
<li><b>date:</b><i>Oct 2015</i>, <b>date:</b><i>Oct 19 2015</i>, etc: Files uploaded in the given date. The date is parsed flexibly.
<li><b>name:</b><i>wumpus.bas</i> : Files with the given exact filename.
<li><b>tuid:</b><i>9p8kh3im2j9h2881</i> : Files tagged with the given TUID (IFDB ID string).
</ul>

<p>
This form searches files stored on the <a href="/">IF Archive</a>.
If you want to search for IF games by bibliographic information
(author, year, platform, competitions or awards) we recommend you
<a href="https://ifdb.org/search">search on IFDB</a>
instead. This form is better for finding interpreters, development tools,
articles, information, and specific files.
</p>

{% endblock %}
