<!DOCTYPE html>
<html>
<head>
<title>Search the IF Archive</title>
<link href="/misc/icon-144.png" rel="apple-touch-icon" sizes="144x144" type="image/png">
<link href="/misc/icon-64.png" rel="icon" sizes="64x64" type="image/png">
<link href="/misc/icon-32.png" rel="icon" sizes="32x32" type="image/png">
<link href="/misc/icon-16.png" rel="icon" sizes="16x16" type="image/png">
<link rel="stylesheet" href="/misc/ifarchive.css" type="text/css">
<script src="/misc/darkmode.js" type="text/javascript"></script>
</head>

<body class="SysMode">
<div id="searchpage" class="Page">

<div class="Header">
<h1>Search the IF Archive</h1>
</div>

<div class="Description">

<div class="FormBox">
<form action="{{ approot }}" method="POST">
<input class="FormField" type="text" value="{{ searchstring }}">
<input class="FormButton" name="submit" type="submit" value="Search">
</form>
</div>

<p>
This form searches files stored on the <a href="/">IF Archive</a>.
If you want to search for IF games by bibliographic information
(author, year, platform, competitions or awards) we recommend you
<a href="https://ifdb.org/search">search on IFDB</a>
instead. This form is better for finding interpreters, development tools,
articles, information, and specific files.
</p>

<h3>Search Tips</h3>

<ul>
<li><b>TERM</b>: Simple keyword search.
<li><b>TERM1 TERM2</b>: Files with all of the given terms.
<li><b>TERM1 or TERM2</b>: Files with <em>any</em> of the given terms.
<li><b>date:2015</b>: Files uploaded in the given year.
<li><b>date:Oct 2015</b>, <b>date:Oct 19 2015</b>, etc: Files uploaded in the given date. The date is parsed flexibly.
<li><b>name:filename</b>: Files with the given exact filename.
<li><b>tuid:ID</b>: Files tagged with the given TUID (IFDB ID string).
</ul>

</div>

<div class="Footer">
<hr>

<p id="footercredits">
The <a href="/">IF Archive</a> is a public service of the
<a href="http://iftechfoundation.org/">Interactive Fiction Technology Foundation</a>.
</p>

<p id="footerlinks">
<em><a href="../misc/license.html">Terms of Use</a></em> -
<em><a href="../misc/about.html">About Us</a></em>
<span id="jsdash" class="Hide">-</span>
<button id="toggletheme" class="FootWidget Hide">&#x25D0; Theme</button>
</p>
</div>

</div>
</body>
</html>

